[[source]]
url = "http://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
openai = "==0.27.0"
pydub = "==0.25.1"
python-dotenv = "*"
telethon = "*"
pysocks = "*"

[dev-packages]

[requires]
python_version = "3.10"
